body {
  margin: 0;
  /* font-family: "Almarai", sans-serif; */
  font-family: 'Cairo', sans-serif;
  font-family: 'Mooli', sans-serif;
  background-color: #f9f9f9;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.font {
  font-family: 'Cairo', sans-serif;
  font-family: 'Mooli', sans-serif;
  
}

.nav-style {
  height: 90px;
  width: 1440px;
  background-color: #ede5e2;
}

.logo {
  height: 72px;
  width: 78px;
}

.search {
  position: relative;
}

.search input {
  height: 40px;
  text-indent: 25px;
  border-radius: 20px;
  /* width: 80%; */
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #b45b35;
}
.search .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
}

.shipdetail{
  color: #ff9410;
}
.form-label{
  font-weight: bold;
    font-size: 18px;
}